<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Registro de Alumnos{% endblock %}</title>
    <link rel="stylesheet" href="/static/login.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <!-- Navbar -->
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid bg-info">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="/">Colegio Saint Andrew</a>
                <div class="collapse navbar-collapse" id="navbarMenu">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                        <!-- Más elementos del menú aquí -->
                        {% if session.get('ingresado') %}
                            {% if session.get('id_rol') == 1 %}
                            <!-- aca podemos poner mas link para ke se muestren en el navbar del header.. 
                            para la opcion de administrador -->
                            {% elif session.get('id_rol') == 2 %}
                            <!-- aca tambien se puede poner otras opciones de menu en el header, pero para
                            los usuarios de rol_2 "usuarios ke no seas admin" -->
                            {% endif %}
                        <li class="nav-item">
                            <a class="nav-link"href="/logout" aria-disabled="true">Salir</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Ingresar</a>
                        </li>
                        {% endif %}
                        
                        {% if session.get('ingresado') and session.get('id_rol') == 1 %}
                        <form class="d-flex" role="search" action="/buscar" method="GET">
                            <input class="form-control me-2" type="search" placeholder="Busca por DNI, nombre o apellido" aria-label="Buscar" name="search">
                            <button class="btn btn-outline-success" type="submit">Buscar</button>
                        </form>
                        {% endif %}
                    </ul>
                    <!-- Sidebar en menú hamburguesa para móviles -->
                    {% if mostrar_sidebar %}
                    <div class="d-lg-none">
                        {% include 'alumnos/sidebar_content.html' %}
                    </div>
                    {% endif %}
                    <!-- Elementos adicionales del navbar aquí -->
                </div>
            </div>
        </nav>
    </header>
    
    <!-- Contenido Principal -->
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar visible solo en pantallas grandes -->
            {% if mostrar_sidebar %}
                <div class="col-lg-3 d-none d-lg-block">
                    {% include 'alumnos/sidebar_content.html' %}
                </div>
            {% endif %}

            <!-- Contenido Principal -->
            <div class="{{ 'col-lg-9' if mostrar_sidebar else 'col-12' }}">
                {% block content %}
                <!-- Coloca aquí el contenido específico de cada página que extienda de esta plantilla -->
                {% endblock %}
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="/static/js/borrar_usuario.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
