{% extends 'alumnos/base.html' %}
{% block title %}Materias{% endblock %}

{% block content %}

<div class="container-fluid w-100">
  <div class="container-fluid d-flex flex-column justify-content-center align-items-center">

  <div>
  <h1 class="text-center">Materias</h1>
  <h5 class="text-center">Nuestra escuela se identifica por tener materias enfocadas principalmente en lo que se viene a futuro en cuanto al mundo laboral de nuestros jovenes. por eso, aqui te dejamos algunas de nuestras materias, las cuales son las mas detacadas para que ellos</h5>
</div>


<div class="card-equal-height d-flex justify-content-center">

<div class="row">

  <div class="col-12 col-md-6 col-lg-4 mb-4">

<div class="card m-3 w-100">
    <img src="../../static/imgs/ingles.jpg" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">Inglés</h5>
      <p class="card-text">El lenguaje mas utilizado en el mundo. permite la apertura de puertas como ningun otro lenguaje. Lograran mantener una conversacion fluida en este idioma, asi como tambien leer y comprender texto fluidamente</p>
      <a href="#" class="btn btn-primary">Inscribite</a>
    </div>
  </div>

</div>
  <div class="col-12 col-md-6 col-lg-4 mb-4">

  <div class="card m-3 w-100">
    <img src="../../static/imgs/python.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Programacion Python</h5>
      <p class="card-text">Para nuestros alumnos no tan iniciales les tenemos un excelente programa de capacitacion en Python, el lengaje mas intuitivo para que nuestros jovenes puedan insertarse en el mundo de la programacion</p>
      <a href="#" class="btn btn-primary">Inscribite</a>
    </div>
  </div>

</div>
<div class="col-12 col-md-6 col-lg-4 mb-4">

  <div class="card m-3 w-100">
    <img src="../../static/imgs/deportes.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Educacion fisica</h5>
      <p class="card-text">Creemos que uno de los pilares de la sociedad es mantener un estado fisico saludable, puesto que esta comprobado que reduce ansiedad, estres, insomnio y reduce las posibilidades de generar diferentes tipos de enfermedades tanto fisicas como mentales</p>
      <a href="#" class="btn btn-primary">Inscribite</a>
    </div>
  </div>

</div>
<div class="col-12 col-md-6 col-lg-4 mb-4">

  <div class="card m-3 w-100">
    <img src="../../static/imgs/pseint.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">PSe-Int</h5>
      <p class="card-text">Para nuestros alumnos mas iniciales les presentamos el programa PSe-Int para que empiecen a conocer como funciona la logica de un programa. Es excelente para que cuando empiecen en nuestros programas de desarrollo tecnologico lo hagan con una base solida</p>
      <a href="#" class="btn btn-primary">Inscribite</a>
    </div>
  </div>

</div>
<div class="col-12 col-md-6 col-lg-4 mb-4">

  <div class="card m-3 w-100">
    <img src="../../static/imgs/economia.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Economia contemporanea</h5>
      <p class="card-text">Todos sabemos que el mundo que conociamos el siglo pasado ya quedó atras y en el sector economico no fue la excepcion. Por eso tenemos un programa especializado enfocado hacia la economia del futuro que, ya no es tan futuro</p>
      <a href="#" class="btn btn-primary">Inscribite</a>
    </div>
  </div>

</div>
<div class="col-12 col-md-6 col-lg-4 mb-4">

  <div class="card m-3 w-100">
    <img src="../../static/imgs/work.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Introduccion al mercado laboral</h5>
      <p class="card-text">Para quienes sufrimos los requisitos de contratacion del tipico "18 años con 42 años de experiencia", este programa es para darte esos 45 años de experiencia antes de que egresen</p>
      <a href="#" class="btn btn-primary">Inscribite</a>
    </div>
  </div>

</div>
<div class="col-12 col-md-6 col-lg-4 mb-4">

  <div class="card m-3 w-100">
    <img src="../../static/imgs/saludmental.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Salud mental y responsabilidad afectiva</h5>
      <p class="card-text">Es una materia extra que decidimos agregar. Se centra en tratar temas de bienestar personal para que nuestros alumnos sepan como canalizar sus emociones y enfrentarlos de la mejor manera teniendo en cuenta a si mismos y a sus pares</p>
      <a href="#" class="btn btn-primary">Inscribite</a>
    </div>
  </div>

</div>
<div class="col-12 col-md-6 col-lg-4 mb-4">

  <div class="card m-3 w-100">
    <img src="../../static/imgs/politics.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Ciencias politicas</h5>
      <p class="card-text">Una materia clasica puesta en enfoque hacia el futuro. Nuestros alumnos aprenderan como entender propuestas politicas y como afectaran su futuro. Asi lograran enfocar sus proyectos de vida basados en politicas que puedan entender y definir por si mismos evitando contratiempos como por ejemplo adoctrinamiento.</p>
      <a href="#" class="btn btn-primary">Inscribite</a>
    </div>
  </div>

</div>
<div class="col-12 col-md-6 col-lg-4 mb-4">


  <div class="card m-3 w-100">
    <img src="../../static/imgs/music.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Musica</h5>
      <p class="card-text">Puede que parezca que no es una clase importante, pero el arte, y mas especificamente la musica, tiene mucho mas para ofrecer que lo que se piensa. Nuestros alumnos lograran canalizar emociones propias y ajenas a traves de la musica. Podran elegir en que instrumentos desarrollarse asi dar lo mejor de sus dotes artisticos</p>
      <a href="#" class="btn btn-primary">Inscribite</a>
    </div>
  </div>

</div>
<div class="col-12 col-md-6 col-lg-4 mb-4">

  <div class="card m-3 w-100">
    <img src="../../static/imgs/maths.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Matematica y fisica</h5>
      <p class="card-text">Las matematicas se aplican a todo, y consideramos que es una materia infaltable que se asociara a todas las mencionadas anteriormente. Por eso hemos desarrollado un programa de capacitacion aplicada a los diferentes ambitos en los que las mismas pueden ser utiles.</p>
      <a href="#" class="btn btn-primary">Inscribite</a>
    </div>
  </div>

</div>
<div class="col-12 col-md-6 col-lg-4 mb-4">

  <div class="card m-3 w-100">
    <img src="../../static/imgs/hygienic.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Seguridad e Higiene</h5>
      <p class="card-text">El conocimiento sobre la higiene y metodos para mantener habitos de pulcritud es algo que evidentemente escacea en algunos sectores del mundo. Por eso, queremos incentivar al desarrollo de estas areas empezando por nuestros iniciales</p>
      <a href="#" class="btn btn-primary">Inscribite</a>
    </div>
  </div>

</div>
<div class="col-12 col-md-6 col-lg-4 mb-4">

  <div class="card m-3 w-100">
    <img src="../../static/imgs/martialarts.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Defensa personal</h5>
      <p class="card-text">No vivimos en un mundo color de rosas, eso esta claro. Por este motivo presentamos un programa de desarrollo en defensa personal y artes marciales, en la cual nuestros alumnos entiendan la importancia de esta misma para defenderse y poder defender a otros en casos de emergencia. Nos enfocamos especificamente en que sea en estos casos y ya hemos tenido resultados excelentes</p>
      <a href="#" class="btn btn-primary">Inscribite</a>
    </div>
  </div>

</div>

</div>

</div>

</div>
</div>

{% endblock%}