{% extends 'alumnos/base.html' %}
{% block title %}Registrarse{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10 ">
            <h1 class="text-center mb-4">Registre al Alumno</h1>
            <form method="post" action="nuevo-registro" enctype="multipart/form-data">  
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endif %}
                {% if mensaje_registro %}
                    <div class="alert alert-success" role="alert">
                        {{ mensaje_registro }}
                    </div>
                {% endif %}
                <div class="mb-3">
                    <label for="txtDni" class="form-label">DNI</label>
                    <input type="text" class="form-control" id="txtDni" name="txtDni">
                </div>
                <div class="row g-3">
                    <div class="col">
                        <label for="txtNombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="txtNombre" name="txtNombre" placeholder="Ingrese un nombre">
                    </div>
                    <div class="col">
                        <label for="txtApellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="txtApellido" name="txtApellido" placeholder="Ingrese un apellido">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="txtCorreo" class="form-label">Correo</label>
                    <input type="email" class="form-control" id="txtCorreo" name="txtCorreo">
                </div>
                <div class="mb-3">
                    <label for="txtPassword" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="txtPassword" name="txtPassword">
                </div>
                <div class="mb-3">
                    <label for="txtFoto" class="form-label">Subir una foto</label>
                    <input class="form-control" type="file" id="txtFoto" name="txtFoto">
                </div>
                <button type="submit" class="btn btn-primary mt-4 mb-4 w-100">Registrarse</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
