{% extends 'alumnos/base.html' %}
{% block title%}Resultado de la busqueda{% endblock %}


{% block content %}
{% if resultados %}
<h1 class="text-center">RESULTADO DE TU BUSQUEDA</h1>
    <table class="table">
        <thead>
            <tr>
                <th>DNI</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in resultados %}
            <tr>
                <td>{{ usuario.dni }}</td>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.apellido }}</td>
                <td>{{ usuario.correo }}</td>
                <td><a button type="button" class="btn btn-primary w-100 mb-2" href="editar/{{usuario.id}}">Editar</button></a>          
                    <a button type="button" class="btn btn-danger w-100" href="#" onclick="confirmarBorrado( {{ usuario.id }} ); return false;">Eliminar</button></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    {% if mensaje_resultado %}
        <p>{{ mensaje_resultado }}</p>
    {% endif %}
{% endif %}
{% endblock %}