@import 'sidebar.css';


.container {
    width: 30% !important; 
    align-content: center;
    margin-top: 2rem;
    background-color: beige;
}

.container_r {
    width: 40% !important;    
    background-color: beige;
    align-content: center;
    margin-top: 2rem;
    padding: 1rem;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.format {
    font-weight: bold;
   
}